* {
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.html, body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #333;
}

 .title {
    padding: 0%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: indianred;
    
 }
 .egusi-img {
    display: block;
    margin: 0 auto;
    border-radius: 10cm;
    box-shadow: 0 8px 20px rgba(0, 0,0, 0.2);
 }
 
 .P1 { 
   text-align: center;
   font-size: 19px;
   font-style: oblique;
   font-weight: bold;
   color: #333;
 }
.flex {
   background-color: #ffe6ff;
   padding: 30px;
   border-radius: 15px;
   max-width: auto;
   margin-left: 20px;
   display: block;
   box-sizing: border-box;
   box-shadow: 0 4px 10px rgba(0, 0,0, 1);


}
.flex2 {
    background-color: #ffe6ff;
   padding: 30px;
   border-radius: 15px;
   max-width: auto;
   margin-left: 20px;
   display: block;
   box-sizing: border-box;
   box-shadow: 0 4px 10px rgba(0, 0,0, 1);
}
.Tip {
   background-color: bisque;
   border-radius: 15px;
   max-width: auto;
   margin: 20px 0 ;
   margin-left: 20px ;
   display: block;
   box-shadow: 0 4px 10px ;
   padding: 15px;

   animation: shake 0.6s ease-in-out infinite;
   animation-delay: 3s;
}
 .details-flex {
   background-color: #ffe6ff;
   padding: 20px;
   border-radius: 15px;
   flex: 1;
   display: flex;
   gap: 1rem;
   width: 100%;
   flex-direction: column;
   box-shadow: 0 4px 10px rgba(0, 0,0, 1);
   margin: 0;
 }

 .PP {
   font-size: 1.1rem;
  font-weight: bold;
  color: indianred;
  margin-bottom: 0;
 }
 .detail-item p {
   font-size: 1rem;
   margin-top: 0;
   color: #333;
 }
 h2 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.2rem;
   font-weight: bolder;
   margin-left: 20px;
   margin-bottom: 0;
   padding: 0;
   color: indianred;


 }

 /* Animation */
  @keyframes shake {
   0% { transform:translateX(0); }
   20% { transform: translateX(-2px);}
   40% { transform: translateX(2px);}
   60% {transform: translateX(-2px);}
   80% { transform: translateX(2px);}
   100% {transform: translateX(0);}
  }

  .Nutrient {
    background-color: #ffe6ff;
   padding: 30px;
   border-radius: 15px;
   max-width: auto;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   box-shadow: 0 4px 10px rgba(0, 0,0, 1);
}
    .Nutrient-head {
      padding: 1rem;
    }
    /* Media Queries*/ 

 /* for mobile devices*/

@media (min-width: 320px) and ( max-width: 480px) {
  .egusi-img {
    width: 300px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  .details-flex, .detail-item {
    padding: 15px;
    border-radius: 20px;
  } 
  body {
    font-size: 14px;
  }
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
/* for ipad, Tablets */

@media (min-width: 481px) and ( max-width: 768px) {
  .egusi-img {
    width: 320px;
  }
  h2 {
    font-size: 24px;
  }
  .details-flex, .detail-item {
    max-width: 90%;
    padding: 15px;
    
  } 

}

/* small screen laptops*/

@media (min-width: 769px) and ( max-width: 1024px)  {
  .egusi-img {
    width: 340px;
  }

  .details-flex, .detail-item {
    max-width: 80%;
    
  } 

}

/*For desktop and large screens*/

@media (min-width: 1025px) and ( max-width: 1200px)  {
  .egusi-img {
    width: 380px;
  }

  .details-flex, .detail-item {
    max-width: 70%;
    
  } 

}


/* For Large screens and TV*/

@media (min-width: 1201px)  {
  .egusi-img {
    width: 400px;
  }

  .details-flex, .detail-item {
    max-width: 60%;
    
  } 

}